
@import url('https://fonts.googeapis.com/css?family=Poppins: 200,300,400,500,600,700,800,900&dsplay=swap');

@import url('https://fonts.googeapis.com/css?family=Poppins: 200,300,400,500,600,700,800,900&dsplay=swap');
*
{
	margin :0 ;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif ;
}
:root
{
    --blue: #287bff;
    --white: #fff;
    --grey:#f5f5f5;
    --black1 : #222;
    --black2: #999;
}
body
{
    min-height: 100vh;
    overflow: scroll;
}
.container_principal
{
    position: relative;
    width: 100% ;
    min-height: 100vh;
    background: var(--white);
    
}

/*ceci est l'entete*/

.nav_barre
{
    position: sticky;
    top: 0;
    width: 100%; 
    display: flex;
    flex-wrap: wrap;
   
    
}





/* debut de la page principale*/
.page_principale
{
    position: relative;
    left: 30%;
    display: flex;
    justify-content: space-between;
    width: 800px;
    height: 800px;
    z-index: 0;
}


.box_annonce
{
    position: relative;  
    top: 20px;
    display: flex;
    margin:auto;
    justify-content: center;
    align-items: center;
    height: 400px;

}

.liste_container
{
    width: 600px;
    height: 400px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 4%;
    background-image: url("../Easy-Resi/images /room.jpg");
    background-repeat:round;
    border-radius: 20px;
     
}
.box_info
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.box_titre
{
    width: 100%;
    height: 40px ;
    margin-left: 10px;

}
.box_titre h2
{
    color: var(--white);
    justify-content: center;
}
.box_info .desciption
{
    width: 400px;
    height: 120px;
    border-radius: 0px;
    background: #fff;
    padding: 5px 20px;
    padding-left: 35px;
    font-size: 18px;
    outline: none;
    margin-bottom: 10px;
    margin-top: 10px;
}
.box_suivant button
{
    width: 90px;
    height: 35px;
    border:0,5px var(--white) solid;
    border-radius : 10px;
    background: var(--blue);
    cursor: pointer;
	padding: 10px 10px 10px 10px;
    margin-right: 30px;
    margin-left: 30px;
	color: #fff;
	font-size: 16px;
	font-weight: 500;
}
.box_suivant button:hover
{
    background: var(--white);
    width: 100px;
    color: var(--blue);
}
.add_images
{
    display: flex;
    justify-content: center;
    width: 400px;
    height: 50px;
    border: 2px var(--black1) solid ;
    background: #fff;
    padding: 5px 20px;
    padding-left: 35px;
    font-size: 18px;
    outline: none;
    margin-bottom: 10px;
    margin-top: 10px;
}
.add_images button
{
    width: 90px;
    height: 35px;
    border:0,5px var(--black1) solid;
    border-radius : 10px;
    background: var(--black2);
    cursor: pointer;
	padding: 10px 10px 10px 10px;
	color: #fff;
	font-size: 16px;
	font-weight: 500;
}
.add_images button:hover
{
  
    width: 100px;

}

.add_video
{
    display: flex;
    justify-content: center;
    width: 400px;
    height: 50px;
    border: 2px var(--black1) solid ;
    background: #fff;
    padding: 5px 20px;
    padding-left: 35px;
    font-size: 18px;
    outline: none;
    margin-bottom: 10px;
    margin-top: 10px;
}
.add_video button
{
    width: 90px;
    height: 35px;
    border:0,5px var(--white) solid;
    border-radius : 10px;
    background: var(--black2);
    cursor: pointer;
	padding: 10px 10px 10px 10px;
	color: #fff;
	font-size: 16px;
	font-weight: 500;
}
.add_video button:hover
{
    width: 100px;
}
/* fin de la page principale*/






@media(max-width:1300px)

{
    .page_principale
    {
 
        left: 25%;     

    }

}

@media(max-width:1200px)

{
    .page_principale
    {

        left: 20%;

    }

}

@media(max-width:1100px)

{
    .page_principale
    {

        left: 20%;

    }

}

@media(max-width:991px)

{
    .page_principale
    {

        left: 10%;

    }

}

@media(max-width:800px)

{
    .page_principale
    {

        left: 5%;

    }

}

@media(max-width:768px)

{
    .page_principale
    {

        left: 5%;

    }

    .liste_container
    {
        width: 550px;
        height: 400px;
        
    }
}

@media(max-width:700px)

{
    .page_principale
    {

        left: 3%;

    }

    .liste_container
    {
        width: 500px;
        height: 400px;
        
    }

}

@media(max-width:700px)

{
    .page_principale
    {

        left: 3%;

    }

    .liste_container
    {
        width: 450px;
        height: 400px;
        
    }

}





